/* header */ 
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: white;
    height: 5rem;
}

.sticky {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    width:100%;
    height: 5rem;
    box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgba(1, 2, 2, 0.1);
}

.menu-class {
    margin-top: 15px;
}

/* header blog */

.header-blog {
    box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgba(1, 2, 2, 0.1);
}
.logo-blog-no-display {
    display: none;
}
.logo-blog {
    color: #CDCDCD;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    position: relative;
    bottom: 3px;
    font-weight: 500;
}
.logo-blog:hover {
    color: #CDCDCD;
    font-weight: 500;
    text-decoration: none;
}


/* logo */
.wrapper {
    display: flex;
    align-items: stretch;
    width: 143px;
}
.logo-wrapper {
    display: flex;
    align-items: stretch;
    z-index: 100;
}

/* Menu */
.menu-wrapper {
    display: flex;
    align-items: stretch;
    float:right;
}

.button-meny {
    margin-top: 7px;
}

.button-meny button {
    padding: 5px 35px;
}

@media only screen and (min-width: 768px) {
    .logo-wrapper img {
        width: 143px;
        height: 30px;
    }
    
    .logo-line  {
        line-height: 10px;
    }

}
@media only screen and (min-width: 1500px) {
    .fixed-top .container {
        max-width: 97%!important;
    }
}

@media only screen and (max-width: 1200px) {

    .button-meny {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .menu-class button {
        top: 0px;
    }
    .logo-mobil {
        width: 43px;
        margin-right: 5px;
        height: 30px;
    }
    .logo-text {
        width: 75px;
        height: 14px!important;
        top: 7px;
    }

}
