/* header */ 
.menu-class {
    margin-top: 15px;
}
.wrapper {
    display: flex;
    align-items: stretch;
    width: 200px;
}

/* logo */
.logo-wrapper {
    display: flex;
}

/* Menu */
.menu-wrapper {
    display: flex;
    align-items: stretch;
    float:right;
}

.button-meny {
    margin-top: 7px;
}

.button-meny button {
    padding: 5px 35px;
}

@media only screen and (max-width: 1200px) {

    .button-meny {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .menu-class button {
        top: 0px;
    }
    .logo-mobil {
        width: 43px;
        margin-right: 5px;
    }
    .logo-text {
        width: 75px;
        height: 14px!important;
        position: relative;
        top: 7px;
    }
}
